html,
   body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .accordionMenu{
        font:20px Helvetica LT Std, Segoe UI,Arial;
        color:#8CD790;
        background: #9055A2;
        padding:10px;
        margin:0;
    }
    .accordionMenu h1{
        color: #30A9DE
        margin:0;
        font-size: 20px;
        text-shadow: 1px 1px 1px #aeaeae;
    }
    .accordionMenu h2{
        margin:5px 0;
        padding: 0;
       
    }
    .accordionMenu h2 a{
        font-size: 15px;
        display: block;
        font-weight: normal;
        color: white;
        text-shadow: 2px 2px 2px #aeaeae;
        text-decoration: none;
        margin: 0;
        padding: 10px;
        background: #F6B352;
        background: -webkit-linear-gradient(top,#cecece,#8f8f8f);
        background: -webkit-gradient(linear,left top, left bottom, from(#cecece), to(#8f8f8f));
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius: 5px;
    }


    /*滑鼠移動的樣式*/

    .accordionMenu :target h2 a,
    .accordionMenu h2 a:focus,
    .accordionMenu h2 a:hover,
    .accordionMenu h2 :active{
        background: #2288dd;
        background: -moz-linear-gradient(top, #6bb2ff,#2288dd);
        background: -webkit-gradient(linear,left top, left bottom, from(#6bb2ff), to(#2288dd));
        filter: proigd:DXImageTransform.Microsoft.gradient(startColorstr=#ff6bb2ff, endColorstr=#ff2288dd);

    }

    /*轉換效果*/

     .accordionMenu p {
        padding: 0 10px;
        margin: 0;
        height: 0;
        overflow: hidden;
        -moz-transition:height 0.5s ease-in;
        -webkit-transition:height 0.5s ease-in;
        -o-transition:height 0.5s ease-in;
        transition:height 0.5s ease-in;

     }

     .accordionMenu :target p{
        height: 100px;
        overflow:hidden; /*避免顯示scrollbar*/

     }


@media screen AND min-width: 768{
    .accordionMenu, .menuSection{
        width: 100%;
        height: auto;
    }
}


p.intro{
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #aeaeae;
    color: #881600;
}

/*用HTML,CSS,JS寫一個簡單下拉選單*/
.AccordionTitle{
        font:20px Helvetica LT Std, Segoe UI,Arial;
        color:#353866;
        background: #8EC0E4;
        padding:10px;
        margin:0;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion{
    background-color: #eee;
    color: #272625;
    cursor: pointer;
    padding:18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover{
     background-color: #ddd;
}

/* Style the accordion panel. 預設隱藏*/
div.panel{
    padding: 0 18;
    background-color: inherit;
    color: #e3632d;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}
/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block !important;
    opacity: 1;
    max-height: 500px;
}

/*Add Icons*/
button.accordion:after{
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #75D701;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after{
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: #f9320c;
}